body {
    background-image:url('/static/background-texture.jpg');
    /*background-color: #262222;*/
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#parentdiv {
    box-shadow: 0px 0px 80px -10px black;
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    width: 100%;
    clear: both;
    padding: 0;
}

#nav-global {
    position: relative;
    top: -44px;
    display: block;
    white-space: nowrap;
    left: 75px;
    height: 24px;
    text-align: justify;
}

#panelbox {
    position:relative;
    width: 1000px;
    height: 26px;
    top: -4px;
    background-color: #CCCCCC;
    box-shadow: 0px 3px 4px 0px #888888;
}

#nav-global li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    /* border: 1.8px solid #7A7A7A;*/
    background-color: #CCCCCC;
    width:150px;
}

#nav-global li:hover{
    background-color: #821414;
    color: white;
}

#nav-global a:hover{
    color: white;
}
#nav-global a {
    font: serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #CCCCCC;
    width: 150px;
}
/*
.nav-sub {
    position: static;
    display: block;
    white-space: nowrap;
    padding-left: 0;
    height: 23px;
    
    
}

.nav-sub li {
    color: #7D0400;
    font: "serif";
    font-size: 1.5em;
    display: list-item;
    float:left;
    list-style-type: none;
    border:solid;
    border-width: 2px;
}
.nav-sub a {
    text-align: center;
    padding: 0 31px;
}
*/

#header {
    height: 400px;
}

#content {
    padding-left: 3em;
    display: block;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
