body {
    background-image:url('/static/background-texture.jpg');
    /*background-color: #262222;*/
    font-size: .85em;
    font-family: 'Noto Serif', serif, "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#parentdiv {
    box-shadow: 0px 0px 80px -10px black;
    background-color: #E7E6DF;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    width: 100%;
    clear: both;
    padding: 0;
}

#nav-global {
    position: relative;
    top: -51px;
    display: block;
    white-space: nowrap;
    left: 35px;
    height: 26px;
    text-align: justify;
}

#panelbox {
    position:relative;
    width: 1000px;
    height: 32px;
    top: -5px;
    background-color: #303030;
    box-shadow: 0px -2px 10px -5px black inset;

}

#nav-global li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    /* border: 1.8px solid #7A7A7A;*/
    background-color: #CCCCCC;
    width:150px;
}

#nav-global a:hover {
    color: #E7E6DF;
    background-color: #89273A;
}

#nav-global a:active {
    background-color: #303030;
}

#nav-global a {
    font: Noto serif;
    font-size: 1.5em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #BE9C45;
    background-color: #303030;
    width: 150px;
    padding: 4px;
    box-shadow: 0px -3px 10px -3px black inset;
}

#nav-global #nav-selected{
    color: #303030;
    background-color: #E7E6DF;
    box-shadow: none;
}
#nav-global #nav-selected:hover{
    color: #89273A;
    text-decoration: underline;
    box-shadow: none;
}

/*
.nav-sub {
    position: static;
    display: block;
    white-space: nowrap;
    padding-left: 0;
    height: 23px;
    
    
}

.nav-sub li {
    color: #7D0400;
    font: "serif";
    font-size: 1.5em;
    display: list-item;
    float:left;
    list-style-type: none;
    border:solid;
    border-width: 2px;
}
.nav-sub a {
    text-align: center;
    padding: 0 31px;
}
*/

#header {
    height: 200px;
    background-color: #E7E6DF;
}

#content {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    background-color: #E7E6DF;
    height:auto;
}


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height:
    width:450px;
    left: 0px; 
    position:absolute
    display: inline;
}

        /* global */


p,a,h1,h2,h3,h4 {
    color: #303030;
}



        /* forside */

#post-frame {
    display:inline-block;
}

#news {
    background-color: #89273A;
    border: 2px solid #848484;
    border-radius: 2px;
    float: right;
    width: 240px;
    height: auto;
    margin-top: 5px;
    display:inline;
}

.post {
    display:inline-block;
    width: 300px;
}

#event h3 {
    position:absolute;
    top: -23px;
    font: Noto serif;
    font-size: 2.4em;
    padding-bottom: 2px;
}

#event h3 a {
    text-decoration:none;
    color: #303030;
}

#event h3 a:hover {
    color: #89273A;
    text-decoration: underline;
}

#event-content {
    /*margin 550px;*/
}

#event-description {
    margin-top:85px;
    height: 320px;
}

#event-picture {
    top: 78px;
    left: 370px;
}

.fpicture {
    display:inline;
    position:absolute;
}

.fpicture:hover {
    outline: 1.5px solid #89273A;
}

#topbar {
    text-align: center;
    border-bottom: 0px solid #848484;
    height: 25px;
}

#topbar p {
    font: Noto serif;
    font-weight: bold;
    color: #BE9C45;
}

#bottombar {
    height: 20px;
    text-align: center;
    background-color: #303030;
    display: block;
    padding: 0px 2px;
}

#bottombar a {
    color: #E7E6DF;
    font-weight: bold;
    text-decoration:none;
}

#bottombar a:hover {
    text-decoration: underline;
}

#event strong {
    position:absolute;
    top: 48px;
    width:660px;
    color: #89273A;
}

#nwbody {
    height: auto;
    padding: 1px 4px;
    background-color: #303030;
    margin: 0px 0px;
    box-shadow: 0px 10px 30px -5px #202020 inset;
}

#nwbody h4 {
    color: #BE9C45;
   /* text-decoration: none;*/
}

#nwbody a {
    text-decoration: none;
    display:block;
}

#nwbody a:hover {
    background-color: #89273A;
}

#nwbody p {
    color: #E7E6DF;
    margin-top: -12px;
}

#newsletter {
    margin: 20px 0px;
    border: 2px solid gray;
    border-radius: 2px;
    float: right;
    width: 240px;
    text-align: center;
    padding: 0px 0px;
    background-color: #303030;
    clear: right;
    padding-bottom: 10px;
    display:inline;
}

#newsletter a {
    text-decoration:none;
    color: #BE9C45;
    font-size: 1.5em;
    padding: -20px 0px;
}

#newsletter a:hover {
    text-decoration:underline;
}

#newsletter p {
    color: #E7E6DF;
}

#audition-content {
    display:block;
    width: 400px;
}

#audition-content a {
    text-decoration:none;
}

#audition-picture {
    left: 510px;
    top: 430px;
}

#audition-desription {
}

.clear {
    clear: both;
}



        /* aktuelt single */

#event-background {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}

#tabs {
    border: none;
    background-color: none;
}

#pracinfo {
    float: right;
    margin-top: -25px;
    margin: 5px;
    width: 300px;
    height: 300px;
    background-color: white;
    display:inline;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px;
}

#pracinfo h4 {
    text-align:center;
}

#tab-description {
    display:inline;
}


#gallery-info h3 {
    padding-left: 20px;
}

#gallery-list ul {
    list-style-type:none;
}

#gallery-list li {
    display:inline;
}

#album img {
    padding: 1px 1px;
}

#grid-display {
    margin-left: 45px;
}

.ui-tabs-nav {
    border: none;
    background: none;
}

#tabs li {
    background: none;
    border: none;
}

.ui-tabs-anchor {
    border-radius: 4px;
    border: 1px solid gray;
}

.ui-tabs-active {
    background-color: red;
}

        /* event liste */

#listbackground {
    background-color: #DDDCD6;
    margin: -30px; 
}

#listcontent {
    margin-top: 0px;
    margin-left: 188px;
    /*box-shadow: 6px 0px 7px -5px #888888;*/
    box-shadow: 0px 5px 20px -8px black;
    width: 600px;
    background-color: #E7E6DF;
}

#listcontent h2 {
    margin-left: 55px;
}

.tablefield {
    margin: 10px;
    margin-left:100px;
    width: 450px;
}

.tablefield ul {
    list-style-type: none;
    width: 460px;
}

.tablefield li {
    padding: 0px;
    overflow: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.tablefield img {
    float:left;
    margin: 0px 15px 0px 0px;
}

.tablefield p {
    color: #303030;  
}

.tablefield h3 {
    color: #303030;
}

.tablefield a {
    text-decoration:none;
}

.tablefield li:hover {
    background-color: #D0CFC9;
}


        /* Om teatret */


#about {
    margin-top: 30px;
}

#about-text {
     display:inline-block;
     width: 500px;
     margin-left: 20px;
     margin-bottom: 90px;
}

#about img {
    margin-top: 30px;
    float:right;
    display:inline;
    width:350px;
    height:280px;
}

#bot-agrements {
    width: 450px;
    text-align: center;
    padding-bottom: 30px;
}



#loading-image {
    top: 300px;
    left: 550px;
    width: 50px;
    height: 50px;
    position:absolute;
    display:none;



}



    /* Medlemskab */


#top-info {
    margin-top: 20px;
    text-align:center;
}

.info-frame {
   /* background-color: #D7D8CC;*/
    background-color: #303030;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 15px;
    width: 260px;
    height: 100%;

}
.info-frame p {
    color: #E7E6DF;
}

.info-frame h3 {
    text-align: center;
}

#active {
    float:left;
    margin-left: 150px;
}

#active h3 {
    color: #BE9C45;
}

#passive {
    float:right;
    margin-right: 150px;
}

#passive h3 {
    color: #BE9C45;
}

#bot-info {
    text-align: center;
    padding: 20px;
}
