body {
    background-image:url('/static/background-texture.jpg');
    /*background-color: #262222;*/
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

#parentdiv {
    box-shadow: 0px 0px 80px -10px black;
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    width: 100%;
    clear: both;
    padding: 0;
}

#nav-global {
    position: static;
    display: block;
    white-space: nowrap;
    padding-left: 0;
    height: 23px;
    text-align: justify;
    
}

#nav-global li {
    color: #7D0400;
    font: "serif";
    font-size: 1.5em;
    display: inline-block;
    list-style-type: none;
    border:solid;
    border-width: 5px;
    width:auto;
}
#nav-global a {
    text-align: center;
}
/*
.nav-sub {
    position: static;
    display: block;
    white-space: nowrap;
    padding-left: 0;
    height: 23px;
    
    
}

.nav-sub li {
    color: #7D0400;
    font: "serif";
    font-size: 1.5em;
    display: list-item;
    float:left;
    list-style-type: none;
    border:solid;
    border-width: 2px;
}
.nav-sub a {
    text-align: center;
    padding: 0 31px;
}
*/

#header {
    height: 250px;
}

#content {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height:
    width:450px;
    left: 0px; 
    position:absolute
    display: inline;
}

#news {
    background-color: #BDBCBC;
    border: 2px solid #848484;
    float: right;
    width: 240px;
    height: 350px;
    display:inline;
}

#event {
    display:inline-block;
    width: 300px;
}

#event-picture {
    display:inline;
    position:absolute;
    top: 55px;
    left: 370px;
}

#topbar {
    text-align: center;
    border-bottom: 1px solid #848484;
    height: 15px;
}

#bottombar {
    height: 15px;
    border-top: 1px solid #848484;
    text-align: center;
}

#event strong {
    position:absolute;
    top: 32px;
}

#event hr {
    position:absolute;
    top: 35px;
}

#nwbody {
    height: 320px;
    padding 0 10px;
}
