{% extends selected_template|default:"base.html" %}
{% load static %}

{% block title %}Om Teatret{% endblock %}
{% block content %}
<div class="infopage">
    <h3>Fragmentets historie</h3>
    <div class="infopage-text">
        {{ history|safe }}
    </div>
    <img src={{ image.get_display_url }} >
    <div id="bot-agreements">
        <p>Klik på nedenstående link for at downloade PDF med Fragmentets vedtægter</p>
        <a href="{% static 'Vedtaegter.pdf' %}" alt="Download">Download Vedtægter</a>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
