{% extends selected_template|default:"base.html" %}

{% block title %}Medlemskab{% endblock %}
{% block content %} 
<div id="mem-frame">
    <div id="top-info">
        {{ top|safe }}
    </div>
    <div id="active" class="info-frame">
        <h3>Aktivt medlemskab</h3>
        {{ active|safe }}
    </div>
    <div id="passive" class="info-frame">
        <h3>Passivt medlemskab</h3>
        {{ passive|safe }}
    </div>
    <div id="bot-info" class="clear">
        {{ bottom|safe }}
    </div>
</div>
{% endblock %}
