{% extends selected_template|default:"base.html" %}

{% block title %}Om Teatret{% endblock %}
{% block content %} 
Ikke implementeret <br/>
<div>
Fragmentets historie

Musik- og Teaterforeningen Fragmentet så dagens lys d. 5/12 – 2012. Det var dagen for den stiftende generalforsamling, hvor grundpræmisserne og vedtægter for foreningen skulle diskuteres og godkendes. Til generalforsamlingen mødte 30 unge op, der alle viste stor interesse for at få foreningen skudt godt i gang, og som alle har haft mange års erfaring indenfor musicalens, musikkens og teatrets verdener bl.a. gennem Hvidovre Musikskoles musicals. 

Hvidovre kommune har i mange år rådet over enormt dygtige unge både indenfor teatrets og musikkens verden.  Det er disse unge, der nu ønsker at stå på egne ben. Ideen er, at foreningen skal være et tilbud til de unge, der er for gamle til at deltage i ungdomsforeninger samt unge, som blot har lyst til andre udfordringer. Foreningen skal ses som et tilbud til unge i Hvidovre og lokalområderne, hvor unge får muligheden for selv at sætte ønskede produktioner op, hvad enten det er teater, koncerter eller musicals.

Foreningen har naturligvis ikke så meget historie endnu, men vi håber, at så mange som muligt vil støtte op om vores forening, og dermed hjælpe til at Musik- og Teaterforeningen Fragmentet får skabt sin egen gode historie</div>
{% endblock %}
