{% extends selected_template|default:"base.html" %}

{% block title %}Om Teatret{% endblock %}
{% block content %} 
<div id="about">
    <h3>Fragmentets historie</h3>
    <div id="about-text">
    {{ history|safe }}
    </div>
    <img src={{ image.get_display_url }} > 
    <div id="bot-agrements">
        <p>Klik på nedenstående link for at downloade PDF med Fragmentetsvedtægter</p>
        <a href="www.downloadmig.dk" alt="Download">Download Vedtægter</a>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
