<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% load staticfiles %}
    <link href='http://googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
    <title>{% block title %}Fragmentet{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

    <!-- js and css for tabs -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- Colorbox js and css for gallery -->
    <script src={% static 'jquery.colorbox-min.js' %}></script>
    <link rel="stylesheet" href={% static 'colorbox.css' %} />

    <!-- Base js and css -->
    <script src={% static 'basejs.js' %}></script>
    <link rel="stylesheet" href={% static 'style.css'%} />
    </script>
</head>
<body>
<div id="parentdiv" class="wrap">
    <div id="header" class="wrap">
        <img src={% static 'header-image.png' %} alt="Fragmentet"/>
        <div id="panelbox">
        </div>
        <ul id="nav-global" class="wrap">
            <li><a href="/">Forside</a></li>
            <li><a href="{% url events.views.current_list %}">Aktuelt</a></li>
            <li><a href="{% url info.views.about %}">Om Teatret</a></li>
            <li><a href="{% url events.views.archive_list %}">Arkiv</a></li>
            <li><a href="{% url info.views.membership %}">Medlemskab</a></li>
            <li><a href="{% url info.views.contact %}">Kontakt</a></li>
        </ul>
        <!--
        <ul class="nav-sub">
            <li><a href="/">link1</a></li>
            <li><a href="/">link2</a></li>
            <li><a href="/">link3</a></li>
            <li><a href="/">link4</a></li>
            <li><a href="/">link5</a></li>
            <span class="stretch"></span>
        </ul>
        -->
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <img id="loading-image" src={% static 'images/loading.gif' %}>
    <div id="footer">
        <p>Musik og -teaterforeningen Fragmentet</p>
        <a href="{% url info.views.contact %}">Bestyrelse@fragmentet.dk</a>
    </div>
</div>
</body>
</html>
