{% extends selected_template|default:"base.html" %}

{% block title %}Fejl - Side ikke fundet{% endblock %}
{% block content %}
<h1>Fejl - Side ikke fundet</h1>
<p>Siden du forsøgte at hente, eksisterer desværre ikke.</p>
<p>Hvis du blev linket til siden udefra, er linket sandsynligvis i stykker. <a class='local' href={% url events.views.main %}>Gå til forsiden</a>, og se om du kan finde det du leder efter.</p>
<p>Hvis du trykkede på et link på Fragmentets hjemmside, er fejlen vores skyld. Du kan skrive en mail til fragmentet for at fortælle om problemet.</p>
{% endblock %}
