{% extends selected_template|default:"base.html" %}

{% block title %}Fragmentet{% endblock %}
{% block content %} 
{% load staticfiles %}
<div id="event">
    <h3>
        <a href="www.fragmentet.dk" target="_blank">{{ event.name }}</a>
    </h3>
    <strong>
    Intim teaterkoncert D.21 - D.26 juni kl 19:00 i Medborgersalen
   <!-- {{ event.type }} i {{ event.location }} d. {{ event.time }}-->
    <hr>
    </strong>
    <div id="event-content">
        <div id= "event-picture">    
            <a href="www.fragmentet.dk"><img src={% static 'eksempel.jpg' %} alt="Frontpage_Cover" height="330px" /></a>
        </div>
        <div id= "event-description">
            {{ event.description }}
        </div>
    </div>
</div>
<div id="news">
    <div id="newsfeed">
        <div id= "topbar">
            <p> Seneste nyt fra Fragmentet </p>
        </div>
        <div id= "nwbody">
            <!--newsfeed-->
        {% for post in posts %}
            <a href={{ post.link|default:"https://www.facebook.com/MusikOgTeaterforeningenFragmentet"}} target="_blank" class="fbpost">
               <h4>{{ post.created_time|date:"l j. F"}}</h4>
               <p>
               {% if post.message %} 
                   {% if post.message|length > 105 %}
                   {{ post.message|truncatechars:100 }}
                   {% else %}
                   {{ post.message }}
                   {% endif %}
               {% elif post.caption %}
               {{ post.caption|capfirst}}
               {% else %}
               {{ post.story|capfirst}}
               {% endif %}
               </p>
            </a>
        {% empty %}
        Der kunne desvaerre ikke hentes nyheder fra Facebook.
        {% endfor %}
        </div>
        <div id= "bottombar">
            <a href="http://www.facebook.com/MusikOgTeaterforeningenFragmentet" target="_blank">Se flere nyheder</a>
        </div>
    </div>
    <div id="newsletter">
    </div>
</div>
<div id="clear"></div>
{% endblock %}
