{% extends selected_template|default:"base.html" %}

{% block title %}{{event.linkname}} - Fragmentet{% endblock %}
{% block content %}
<h1>{{event.title}}</h1>
    <a class="local" href=
    {% if current %}
        {% url events.views.current_list %}
    {% else %}
        {% url events.views.archive_list %}
    {% endif %}
    >Tilbage</a>
<div id="event-background" class="clear">
<div id="tabs">
    <ul>
        <li><a href="#tab-description">Beskrivelse</a></li>
        <li><a href="#tab-cast">Medvirkende</a></li>
        <li><a href="#tab-gallery">Galleri</a></li>
    </ul>
    <div id="pracinfo">
        <h4>Pratisk Information</h4>
        {{event.info|safe}}
   </div>
    <div id="tab-description">
        {{event.description|safe}}
        {{event.cover|safe}}
    </div>
    <div id="tab-cast">
        {{event.cast|safe}}
    </div>
    <div id="tab-gallery">
        <div id="gallery-info"> 
            {% for gallery in event.galleries.all %}
            <h3>
                <a class='gallery-link' href={% url core.views.show_gallery event.linkname gallery.title_slug %}> "{{ gallery.title }}" album </a>
            </h3>
            <div id="gallery-list">
                <ul>
                    {% for photo in gallery.sample %}
                    <li><img src={{ photo.get_thumbnail_url }}></li>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div id="gallery-view"></div>
    </div>
</div>
<div class="clear"></div>
<br>
</div>
{% endblock %}
