{% extends selected_template|default:"base.html" %}

{% block title %}{{event.title}} - Fragmentet{% endblock %}
{% block content %}
<h1>{{event.title}}</h1>
<div id="tabs">
    <ul>
        <li><a href="#tab-beskrivelse">Beskrivelse</a></li>
        <li><a href="#tab-medvirkende">Medvirkende</a></li>
        <li><a href="#tab-galleri">Galleri</a></li>
        <li><a href="#tab-album">Album forhelved</a></li>
    </ul>
    <div id="tab-beskrivelse">
        {{event.description|safe}}
    </div>
    <div id="tab-medvirkende">
        {{event.cast|safe}}
    </div>
    <div id="tab-galleri">
        <div id="galleri"> 
            {% for gallery in event.galleries.all %}
            <h3>
                "{{ gallery.title }}" album
            </h3>
            <div id="gallery-list">
                <ul>
                    {% for photo in gallery.sample %}
                    <li><img src={{ photo.get_thumbnail_url }}></li>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="tab-album">
        <div id="album">
            {% with gallery=event.galleries.latest %}
            <h2>
                {{ gallery.title }}
            </h2>
            <div id="grid-display">
                {% for photo in gallery.photos.all %}
                <img src={{ photo.get_thumbnail_url }}>
                {% endfor  %}
            </div>
            {% endwith  %}
        </div>
    </div>
</div>
<div class="clear">clear</div>
{% endblock %}
