{% extends selected_template|default:"base.html" %}

{% block title %}Fragmentet{% endblock %}
{% block content %} 
<div id="event">
    <h3>
    title(fra db)
    </h3>
    <div>
    underline(fra db)
    </div>
    <div>
    event-content
        <div>
        text(fra db)
        </div>
        <div>
        picture
        </div>
    </div>
</div>
<div id ="news">
News
    <div>
    newsfeed
        <div>
        topbar
        </div>
        <div>
        feed
        </div>
        <div>
        buttonbar
        </div>
    </div>
    <div>
    newsletter
    </div>
</div>
{% endblock %}
