{% extends selected_template|default:"base.html" %}
{% load url from future %}

{% block title %}Forestillinger - Fragmentet{% endblock %}
{% block content %} 
<div id="listbackground">
<div id="listcontent">
<h2>Forestillinger</h2>
{% if shows %}
    <div class="tablefield">
        <ul>    
            {% for show in shows %}
            <a class="local" href="{% url single_view show.linkname %}">
                <li>
                <img src="{{ show.coverimage.get_thumbnail_url }}">
                <h3>{{show.title}}</h3>
                <p>{{show.event_type }} <br> {{ show.min_date|date:"j. F" }}
                {% if show.max_date %}
                    - {{ show.max_date|date:"j. F Y" }}
                {% endif %}
                </p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>Der er ingen aktuelle forstillinger</p>    
{% endif %}

{% if workshops %}
    <h2>Workshops</h2>
    <div class="tablefield">
        <ul>    
            {% for workshop in workshops %}
            <a class="local" href="{% url single_view workshop.linkname %}">
                <li>
                <img src="{{ workshop.coverimage.get_thumbnail_url }}">
                <h3>{{workshop.title}}</h3>
                <p>{{workshop.event_type }} <br> {{ workshop.min_date|date:"j. F" }}
                {% if workshop.max_date %}
                    - {{ workshop.max_date|date:"j. F Y" }}
                {% endif %}
                </p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if auditions and current %}
    <h2>Auditions</h2>
    <div class="tablefield">
        <ul>    
            {% for audition in auditions %}
            <a class="local" href="{% url single_view audition.linkname %}">
                <li>
                <img src="{{ audition.coverimage.get_thumbnail_url }}">
                <h3>{{audition.title}}</h3>
                <p>{{audition.event_type }}<br> {{ audition.min_date|date:"j. F" }}
                {% if audition.max_date %}
                    - {{ audition.max_date|date:"j. F Y" }}
                {% endif %}
                </p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
</div>
{% endblock %}
