{% extends selected_template|default:"base.html" %}

{% block title %}Fragmentet{% endblock %}
{% block content %} 
{% load staticfiles %}
<div id="event">
    <h3>
    {{ event.name }}
    </h3>
    <strong>
    {{ event.type }} i {{ event.location }} d. {{ event.time }}
    </strong>
    <div class= "eventbox" id="event-content">
        <div id= "event-description">
            {{ event.description }}
        </div>
        <div class= "eventbox" id= "event-picture">
        <img src={% static 'eksempel.jpg' %} />
        </div>
    </div>
</div>
<div id ="news">
    <div id ="newsfeed">
        <div id= "topbar">
            <p> Seneste nyt fra Fragmentet </p>
        </div>
        <div id= "nwbody">
            <!--newsfeed-->
        </div>
        <div id= "buttonbar">
        </div>
    </div>
    <div id ="newsletter">
    </div>
</div>
{% endblock %}
